dist
cjs

node_modules
.DS_Store
.vercel

env.yml
*.env

.universe/build

**/built-modules
**/.universe/build

*.tsbuildinfo
mtyk/default-modules/*/tsconfig.json
mtyk/default-modules/*/tsconfig.cjs.json
mtyk/default-modules/*/mtyk.config.js
mtyk/default-modules/*/mtyk.config.cjs
mtyk/default-modules/*/dist
mtyk/default-modules/*/.npmignore
mtyk/default-modules/*/.gitignore

**/.yarn/cache
**/.yarn/install-state.gz
**/.next

self-built

.idea